@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis', sans-serif;
}

.topo {
    background-image: url("images/shipmedium.jpeg"); /* Photo by Sascha Hormel from Pexels */
    background-color: #222;
    /* background-blend-mode: screen; */
    background-size: cover;
    background-position: top left;
    color: #eee;
}

.nav-link {
  display:inline-block;
  margin-bottom: 2px;
  background-color: #222;
}

 .topo #sobre2 span {
   background-color: #222;
   margin-top: 4vh;
 }

.btn-custom:hover {
  color: #3498db !important;
}


.services .title {
    border-bottom: 2px solid #3498db;
    padding-bottom: 4px;
}
