@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis', sans-serif;
}

.topo {
    background-image: url("images/shipmedium.jpeg"); /* Photo by Sascha Hormel from Pexels */
    background-color: #333;
    /* background-blend-mode: screen; */
    background-size: cover;
    background-position: top left;
    color: #eee;
}

.nav-link {
  display: inline-block;
  margin: 1px 0;
  background-color: #222;
}

 .topo .about span {
   background-color: #222;
 }


.about .btn-custom:hover {
  color: #3498db !important;

}


.services .title, .contact .title {
    border-bottom: 2px solid #3498db;
    padding-bottom: 4px;
}

.contact {
  background-color: #333;
  color: #eee;

}

.icons {
  padding: 100px;
}
