@import url('https://fonts.googleapis.com/css?family=Dosis');
* {
  font-family: 'Dosis', sans-serif;
}

.topo {
  /* background-image: url("images/shipmedium.jpeg"); */
  background-color: #3498db;
  color: #fff;
  background-size: cover;
}

.topo #sobre {
  background-color: #3498db;
  color: #fff;
}

.btn-custom:hover {
  color: #3498db !important;
}
