@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis', sans-serif;
}

html {
  scroll-behavior: smooth;
}

  #mainNav {
    background-color: #222;
  }

  .nav-link {
    /* background-color: #222; */
    /* display: inline-block; */
    /* margin: 1px 0; */
  }

  .header {
    /* padding-top: 10vh; */
    margin-top: 56px;
    color: #eee;
    background-color: #222;
    background-image: url("images/ship-large-edited3.jpg"); /* Photo by Sascha Hormel from Pexels */
    background-size: cover;
    background-position: 32%;
    /* background-attachment: fixed; */
    /* background-blend-mode: screen; */
    /* image-resolution: 100dpi; */

  }



  .header .about {
    padding: 20vh 4vh 4vh 4vh;
  }

  .header .about p {
    /* background-color: #222; */
    padding-top: 2rem;
  }


  .about .btn-custom {
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-color: #9e441a;
    background-color: #9e441a;

  }

  .about .btn-custom:hover {
    color: #eee !important;
  }
/*
  .btn {
    border-radius: 0 !important;
  } */
  /*
  .content {
  padding-top: 15vh;
  } */

  .services {
    margin-top: 5vh;
  }

  .services .title, .contact .title {
    /* border-top: 2px solid #3498db; */
    /* border-bottom: 2px solid #3498db; */
    padding: 4px;

  }

  .services h4 {
    color:  #d35400;
  }


  .contact, .footer {
    background-color: #222;
    color: #eee;
  }

  .contact .btn-custom {
    background-color: #3498db !important;
    border-color: #3498db !important;
  }

  .footer .social-media i {
    margin: 2vh;
  }


@media (min-width: 768px) {
    .header {
      background-image: url("images/ship-large-edited.jpg");
      padding: 4rem;
    }

    .header .about element {
      padding-top: 2rem;
    }

}

@media (min-width: 992px) {
  #mainNav {
    /* background-color: #222; */
  }

  .header {
    /* background-image: url("images/ship-large-edited.jpg");
    background-size: cover;
    background-position: top center; */
    margin-top: 56px;
    padding: 0;
    /* padding-bottom: 10rem; */
  }

  .about .subtitle, .btn-custom {
    margin-top: 2rem;
  }
}

.navbar-shrink {
  background-color: #222;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1;
}
